<!-- learning_vid\templates\learning_vid\videos.html -->

<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="{% static 'learning_vid/styles.css' %}">
</head>
<body>
    <div class="top_background">
        <input type="image" src="{% static 'learning_vid/Logotype_yellow.png' %}" alt="Epiroc Logo" style="border-width:0px;">
        <span id="ucHeaderId_lblHeader" class="LabelBoldHeaderCss">EITC TECH FORM</span>
    </div>

<div id="profiles">
    <div class="video-item">
        <a href="https://youtu.be/gfkTfcpWqAY" target="_blank">
            <img src="{% static 'learning_vid/c_sharp.png' %}" alt="C# Basics">
        </a>
        <h3>C# Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/qz0aGYrrlhU" target="_blank">
            <img src="{% static 'learning_vid/html.png' %}" alt="HTML Basics">
        </a>
        <h3>HTML Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/kqtD5dpn9C8" target="_blank">
            <img src="{% static 'learning_vid/python.png' %}" alt="Python Basics">
        </a>
        <h3>Python Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/7S_tz1z_5bA" target="_blank">
            <img src="{% static 'learning_vid/sql.png' %}" alt="SQL Basics">
        </a>
        <h3>SQL Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/rHux0gMZ3Eg" target="_blank">
            <img src="{% static 'learning_vid/django.png' %}" alt="Django Basics">
        </a>
        <h3>Django Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/zw4s3Ey8ayo" target="_blank">
            <img src="{% static 'learning_vid/postgres.png' %}" alt="Postgres Basics">
        </a>
        <h3>Postgres Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/YHFzr-akOas?list=PLS1QulWo1RIb9WVQGJ_vh-RQusbZgO_As" target="_blank">
            <img src="{% static 'learning_vid/linux.jpg' %}" alt="Linux Basics">
        </a>
        <h3>Linux Basics</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/TdOLTlKsRd8" target="_blank">
            <img src="{% static 'learning_vid/docker.png' %}" alt="Docker Containers">
        </a>
        <h3>Docker Containers</h3>
    </div>
    <div class="video-item">
        <a href="https://youtu.be/n4R2E7O-Ngo" target="_blank">
            <img src="{% static 'learning_vid/css.jpg' %}" alt="CSS Basics">
        </a>
        <h3>CSS Basics</h3>
    </div>
</div>

    <footer>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'contact' %}">Contact</a> |
        <a href="{% url 'about' %}">About</a>
    </footer>

    <div class="footer-note">
        <span id="ucFooterId_footer">Web application developed and maintained by CMTEC.</span>
    </div>
</body>
</html>