/* General styling */
.center {
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    font-family: Brush Script;
}

.back-button:hover {
    background-color: blue;
}

h1 {
    color: rgb(255, 199, 44);
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 90px;
    background-color: rgb(66, 85, 99);
}

h2 {
    color: black;
    font-weight: bold;
    font-family: Cambria;
    font-size: 22px;
}

.italic-text {
    font-style: italic;
}

.indented-text {
    text-indent: 10px;
}

.content_test {
    color: white;
    font-weight: italic;
    font-family: Serif;
    font-size: 22px;
}

footer {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    font-family: Cambria;
}

.footer-note {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #425563;
    color: white;
    padding: 10px 0;
    font-family: Cambria;
}

/* Grid styles for videos */

#profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.video-item {
    background: #fff;
    border: 1px #ccc solid;
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* .video-grid-table {
    padding: 20px;
} */

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* .video-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

.video-item h3 {
    margin-top: 10px;
} */

/* Header styles */
.LabelBoldHeaderCss {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    flex-grow: 1;
}

.top_background {
    background-color: #425563;
    border-color: #425563;
    display: flex;
    align-items: center;
    padding: 20px;
}

.top_background img {
    margin-right: auto;
}

.top_background span {
    text-align: center;
    width: 100%;
}

/* Video container styles */
.video-container {
    width: 5in;
    height: 5in;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@font-face {
    font-family: "Raleway";
    src: url('Raleway.ttf');
}