/* Existing CSS... */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.back-button {
    padding: 10px 20px;
    background-color: green;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    font-family: Brush Script;
}

.back-button:hover {
    background-color: blue;
}

/* Additional styles for header and footer */
.top_background {
    background-color: #425563;
    border-color: #425563;
    display: flex;
    align-items: center;
    padding: 20px;
}

.LabelBoldHeaderCss {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    flex-grow: 1;
}

footer {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    font-family: Cambria;
}

.center-image {
    display: inline-block;

}

.image-with-text {
    text-align: center;
}

.clickable-image {
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: block;

}

.footer-note {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #425563;
    color: white;
    padding: 10px 0;
    font-family: Cambria;
}


.container_class {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#profiles_id {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.profile_class {
    background: #fff;
    border: 1px #ccc solid;
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.profile_class h2 {
    margin-top: 0;
}

.profile_class p {
    font-size: 16px;
    color: #333;
}


h1 {
    margin-top: 20px;
    font-size: 2em;
}

#search {
    margin: 20px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 800px;
    width: 100%;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

li h2 {
    margin-top: 0;
}
